@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  :root {
    --color-fondo: #FFFFFF; /* Fondo de la página */
    --color-texto-oscuro: #000000; /* Texto oscuro (por ejemplo, sobre fondo claro) */
    --color-texto-claro: #FFFFFF; /* Texto claro (por ejemplo, sobre fondo oscuro) */
    --color-primario: #151E3F; /* Color primario */
    --color-secundario: #030027; /* Color secundario */
    --color-terciario: #7D70BA; /* Color terciario */
}
}



body {
  color: var(--color-texto-oscuro);
  background-color: var(--color-fondo);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
